extends layout
//- block content from layout.pug
block content
    h2 #{title}
    .col-12
        .card
            .card-body
                form(method='POST', action='/tickets/create')
                    #form-group
                        label (*)Title:
                        input.form-control(name='title', id='title', type='text', maxlength='20', placeholder="Ticket Title")
                    #form-group
                        label (*)Description:
                        textarea.form-control(name='description', id='description', maxlength='500', placeholder="Description of ticket")
                    #form-group
                        label (*)Assigned To:
                        //- input.form-control(name='assignedTo', type='text', maxlength='20')
                        select(name='assignedTo')
                            each ctuser, i in ctusers
                                option(value=ctuser._id) #{ctuser.username}
                    #form-group
                        label (*)Priority:
                        //- input.form-control(name='priority', type='text')
                        select(name='priority')
                            option(value='High') High
                            option(value='Medium') Medium
                            option(value='Low') Low
                    #form-group
                        label (*)Status:
                        //- input.form-control(name='status', type='text')
                        select(name='status' disabled = true)
                            option(value='Open') Open
                            option(value='Closed') Closed
                            option(value='Resolved') Resolved
                    #form-group
                        label (*)Type:
                        //- input.form-control(name='type', type='text')
                        select(name='type')
                            option(value='Production') Production
                            option(value='Testing') Testing
                            option(value='Development') Development
                    hr
                    input.btn.btn-primary(type='submit', value='Submit')
                    br
    

                